<div class="row">
  <div class="col-4 border">
    <div class="row" *ngFor="let j of lp">
      <div class="col-2">
        <img class="rounded-circle" src="assets/{{j.img}}.jpg" width="50" height="50">
      </div>
      <div class="col-10">{{j.name}}</div>
    </div>
  </div>
  <div class=" right col-8 border">
    <div class="info">
      <div class="text-center">
        <img class="text-center" src="assets/anh_cv.jpg" width="100" >
      </div>
      <h6 class="text-center">TRAN THI MAI HIEN</h6>
    </div>
    <table class=" table table-bordered">
      <tbody>
        <tr >
          <td>Title</td>
          <td>Sale</td>
        </tr>
        <tr >
          <td>Hire Date</td>
          <td>20/11/1998</td>
        </tr>
        <tr >
          <td>Address</td>
          <td>8 Ton That Tung</td>
        </tr>
        <tr >
          <td>City</td>
          <td>Hanoi</td>
        </tr>
        <tr >
          <td>Phone</td>
          <td>0392259898</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
